/* general styling */

html {
    background-color: rgb(13, 146, 146);
    font-size: 18px;
}

/* header styling */

ul,
.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    font-family: 'Special Elite';
    padding-left: 0;
}

 .mobile {
    display: none;
}

@media only screen and (max-width: 550px) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
        position: fixed;
        background-color:rgb(13, 146, 146);
        width: 100%;
        top: 0;
    }
}

/* banner styling */

section.banner {
    background-image: url('images/quinn-buffing-2UhwQ2PnIBQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 100%;
    text-align: center;
    padding: 4rem;
}

h1 {
    font-family: 'Permanent Marker';
    font-size: 6rem;
    font-weight: normal;    
    color: rgb(250, 142, 160);
    margin-bottom: 0;
}

.banner h2 {
    font-family: 'Rock Salt';
    font-size: 2rem;
    color: maroon;
}

@media screen and (max-width: 450px) {
    section.banner {
        padding: 4rem 1rem;
        background-size: 200%;
    }

    h1 {
        font-size: 4rem;
        margin-top: 0;
    }

    h2.desktop {
        display: none;
    }

    h2.mobile {
        display: block;
        font-size: 1.5rem;
    }
}

/* rules styling */

h2 {
    font-size: 3rem;
}

#rules {
    font-family: 'Special Elite';
    padding: 0 10%;
    color: white;
}

ol li {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

strong {
    font-weight: 900;
    text-decoration-line: underline;
}

@media screen and (max-width: 800px) {
    ol li {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
}

@media screen and (max-width: 360px) {
    h2 {
        font-size: 2rem;
    }

    ol li {
        font-size: 1rem;
        line-height: 2rem;
    }
}
/* quotes styling */

.landscape {
    max-width: 100%;
    max-height: 360px;
    overflow: hidden;
    margin: 2%;
}

.portrait {
    overflow: hidden;
    margin: 2%;
}

img {
    align-self: center;
    max-width: 100%;
    max-height: 600px;
}

#quotes {
    flex-flow: column wrap;
    align-items: center;
    justify-content: left;
    background-color: antiquewhite;
    padding: 0 2rem;
}

#never {
    font-family: 'Road Rage';
    font-size: 4rem;
}

#special {
    font-family: 'Special Elite';
    font-size: 2.5rem;
    line-height: 3.5rem;
}

#hit {
    font-family: 'Smooch';
    font-size: 5rem;
    margin-bottom: 0;
}

#own {
    font-family: 'Libre Barcode 39 Text';
    font-size: 8rem;
    margin-top: 0;
}

@media screen and (max-width: 550px) {
    .portrait {
        margin: 0;
    }
    
    img {
        width: 100%;
        max-height: 960px;
    }
}

@media screen and (max-width: 640px) {
    html, .landscape, .portrait {
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    #special {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #hit {
        font-size: 3rem;
    }
    
    #own {
        font-size: 4rem;
    }
}

@media screen and (max-width: 500px) {
    #quotes {
        padding: 0 1rem;
    }
    
    #never {
        font-size: 2.5rem;
    }

    #hit {
        font-size: 2rem;
    }
    
    #own {
        font-size: 3rem;
    }
}

@media screen  and (max-width: 420px) {
    #quotes {
        padding: 0 0.5rem;
    }
}

/* credits styling */

section.credits {
    font-family: 'Rock Salt';
}