/* general styling */

html {
    background-color: rgb(13, 146, 146);
    font-size: 18px;
}

/* header styling */

ul,
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    font-family: 'Special Elite';
}

.mobile {
    display: none;
}

@media screen (max-width: 410px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

/* banner styling */

section.banner {
    background-image: url('images/quinn-buffing-2UhwQ2PnIBQ-unsplash.jpg');
    
    background-position: bottom;
    max-width: 100%;
    text-align: center;
    padding: 4rem;
}

h1 {
    font-family: 'Permanent Marker';
    font-size: 6rem;
    font-weight: normal;    
    color: rgb(250, 142, 160);
    margin-bottom: 0;
}

.banner h2 {
    font-family: 'Rock Salt';
    font-size: 2rem;
    color: maroon;
}

/* rules styling */

h2 {
    font-size: 3rem;
}

#rules {
    font-family: 'Special Elite';
    padding: 0 10%;
    color: white;
}

ol li {
    font-size: 2.5rem;
    line-height: 3.5rem;
}

strong {
    font-weight: 900;
    text-decoration-line: underline;
}

/* quotes styling */

img {
    max-width: 100%;
    max-height: 900px;
    margin: 1%;
}

#quotes {
    flex-flow: column wrap;
    align-items: center;
    justify-content: left;
    background-color: antiquewhite;
}

#never {
    font-family: 'Road Rage';
    font-size: 4rem;
}

#special {
    font-family: 'Special Elite';
    font-size: 2.5rem;
}

#hit {
    font-family: 'Smooch';
    font-size: 5rem;
    margin-bottom: 0;
}

#own {
    font-family: 'Libre Barcode 39 Text';
    font-size: 8rem;
    margin-top: 0;
}